.slider-size {
    height: 500px; /* This is the slider height */
}

.slider-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
}

.slide-img-movedown {
    background-position: center 100%;
    -webkit-transition: background-position 8s linear;
    -moz-transition: background-position 8s linear;
    -o-transition: background-position 8s linear;
    transition: background-position 8s linear;
}
.table-row{
	display: block
	
}
.goto_btn {
    bottom: 1em;
    font-size: 15px;
    right: 4em;
    background-color: #1867C3;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: Helvetica Neue,arial,sans-serif;
    font-weight: 700;
    margin-top: 50%;
    padding: 10px 10px;
    position: absolute;
    text-shadow: 2px 1px #000000;
    text-transform: uppercase;
	 font-size:10px;
	
}

div.row {
	margin: 0 auto;
	clear: both;
}
	div.row h1 {
		text-align: center;
		margin-bottom: 20px !important;
	}
div.row:after {
    content: '';
    display: block;
    clear: both;
}
div.column {
	float: left;
}
.span3 div.inner-box {
	width: 230px;
	margin: 0;
	padding: 0;
}
	div.inner-box > h2 {
		font-size: 13pt !important;
		padding-left: 25px;
		margin-top: 15px !important;
	}
	div.inner-box > div {
		position: relative;
		min-height: 280px;
		border-left: 1px solid #ccc;
		padding-left: 33px;
	}
	div.inner-box.first > div, div.inner-box.first > h2 {
		border-left: none;
		padding-left: 0;
	}
	div.inner-box p.more {
		position: absolute;
		bottom: 0;
	}

.span3 { width: 33%; }
.span9 { width: 75%; }
.span9 div.inner-box { padding-right: 33px }

span.column-icon {
	display: block;
	background: url(https://d2w99t1r5l1pc2.cloudfront.net/bilder/24763-68864b0699f118bb0e4f106db1249b80.png) no-repeat 50% 0;
	height: 96px;
	margin-top: 15px;
}
	span.column-icon.icon-1 { background-position: 50% 0 }
	span.column-icon.icon-2 { background-position: 50% -113px }
	span.column-icon.icon-3 { background-position: 50% -227px }
	

@media only screen and (max-width: 960px) {
	.collapse-3-2-1 div.column[class*="span"] {
		min-width: 50%;
	}
	div.column.span3 > div {
		margin: 0 auto;
		min-height: auto !important;
	}
	div.inner-box > * {
		padding-left: 0 !important;
		border-left: none !important;
	}
	div.inner-box p.more {
		position: relative;
	}
}

/* Tablet Layout: 481px to 768px. */
@media only screen and (max-width: 480px) {
	.collapse-3-2-1 div.column[class*="span"] {
		min-width: 100%;
	}
}
