h1 {
  color: grey;
  font-size: 28px;
  font-family: sans-serif;
}

p {
  color:black;
  font-size: 16px;
  font-family: sans-serif;
}

.myButton {
  color: #900;
  background: #FF0;
  font-weight: bold;
  border: 1px solid #900;
}

.myButton:hover {
  color: #FFF;
  background: #900;
}

#something {
  color: red;
  font-size: 16px;
}

#something1 {
  color: red;
  font-size: 16px;
}
pre  {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
