<!DOCTYPE html>
	<html>
		<head lang="en">
			<meta charset="UTF-8">
				<title>My survey</title>
				<link rel="stylesheet" href="./css/bootstrap.min.css">
				<script src="./js/angular.min.js"></script>
				<script src="./js/app.js"></script>
				<script src="main.ctrl.js"></script>
				<script src="./js/jquery-1.11.3.js"></script>
				<script src="./js/include.js"></script>
				<link href="./css/style.css" rel="stylesheet"
		</head>
		
<body ng-app="app" ng-controller="MainController as main">
<div id = "header"></div>
<div class="container">

	
<!--Functional and result Start here-->    

    <ul class="list-group" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1)">
	<h3>List of surveys</h3>
        <li  class="list-group-item" ng-repeat="comment in main.questions ">
			<span class="glyphicon glyphicon-star" ng-if="show.favorite"></span> 
				Name: {{main.comment.title}}
                <h4>Question: {{comment.question}}</h4>
		
					</li>
    </ul>
<!--END of functional and result-->

<!--Form start here-->
<div style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1) ; margin-bottom:50px;">

    <center>
    <h3>Add question</h3>
    <form name="main.addForm" class="form"  ng-submit="main.addShow()">
	    <div class="form-group">
            <label>Select a survey*</label>
				<select style="width:450px;" class="form-control" ng-model="main.comment" ng-options="survey as survey.title for survey in main.surveys"></select>
        </div>
		
		<div class="form-group">
            <label>Description *</label>
            <textarea style="width:450px;" type="text" class="form-control" ng-model="main.new.question" required ></textarea>
        </div>
		
		<div class="form-group">
            <label>Order of question*</label>
				<input style="width:450px;" type="text" class="form-control" ng-model="main.new.ordComment" required />
        </div>
		
        <div class="row">
			<table>
				<tr>
					
					<td width="67%"></td>
					<td>
						<div class="col-xs-6">
							<button class="btn btn-success "><span class="glyphicon glyphicon-plus-sign"></span> Add question</button>
						</div>
					</td>
				</tr>
			</table>
        </div>

    </form>
	</center>
</div>
<!--END of form-->

</div>
<div id = "footer"></div>    
</body>
</html>

