<div class = "container-fluid" >
	<div class="container-fluid navbar-footer" align="right">	 	
		<nav class="navbar navbar-default navbar-fnt navbar-backgrnd navbar-absolute-bottom bs-docs-nav" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1)">
            <center>
                <p> copyright  &copy;2015. <br>All rights reserved. <br>Use of this site consititutes acceptance of our                         Terms & Conditions and
                    <a style="color:#DAA520; font-size: 1em; font-weight: bold;" href="terms.html">privacy Policy</a>
                </p>                   
            </center>
			<a href="index.html">
				<img width="200px" height="100px" alt="Brand" src="./Images/Picture1.png" />
			</a>	
		</nav>
	</div>
</div>	
