
<div class = "container-fluid" style="margin-bottom:75px; ">

<nav class="navbar navbar-default navbar-fnt navbar-fixed-top navbar-backgrnd" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1)">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
            Fantastic4    
            <img width="200px" height="100px" alt="Brand" src="./Images/Picture1.png" style="margin-top:-55px;"/></a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="new_survey.html">Create a survey</a></li>
            <li><a href="add_instruction.html">Add instruction</a></li>
            <li><a href="add_question.html">Add question</a></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
    </div>
</nav>

</div>	
