<!DOCTYPE html>
	<html>
		<head lang="en">
			<meta charset="UTF-8">
				<title>My survey</title>
				<link rel="stylesheet" href="./css/bootstrap.min.css">
				<script src="./js/angular.min.js"></script>
				<script src="./js/logScript.js"></script>
				<script src="./js/jquery-1.11.3.js"></script>
				<script src="./js/include.js"></script>
				<link href="./css/style.css" rel="stylesheet"
		</head>
		
<body ng-app="mystore" ng-controller="myController">
<div id = "header"></div>
<div class="container">


<!--Form start here-->
<div style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1) ; margin-bottom:50px;">

    <center>
    <h2>Login</h2>
    <form  class="form" ng-submit = "submit()" id ="form">
		<table>
		
		<div class="form-group">
            <label>Username</label>
            <input style="width:450px;" type="text" class="form-control" ng-model="username" required />
        </div>
		
		<div class="form-group">
            <label>Password</label>
				<input style="width:450px;" type="password" class="form-control" ng-model="pass" required />
        </div>
		
        <div class="row">
			<table>
				<tr>
					
					<td width="78%"></td>
					<td>
						<div class="col-xs-6">
							<button  class="btn btn-success " id = "submit"><span class="glyphicon glyphicon-log-in"></span> login</button>
						</div>
					</td>
				</tr>
			</table>
        </div>

    </form>
	</center>
</div>
<!--END of form-->

</div>
    
<div id = "footer"></div>    
</body>
</html>

