<!DOCTYPE html>
	<html>
		<head lang="en">
			<meta charset="UTF-8">
				<title>My survey</title>
				<link rel="stylesheet" href="./css/bootstrap.min.css">
				<script src="./js/angular.min.js"></script>
				<script src="./js/app.js"></script>
				<script src="main.ctrl.js"></script>
				<script src="./js/jquery-1.11.3.js"></script>
				<script src="./js/include.js"></script>
				<link href="./css/style.css" rel="stylesheet">
		</head>
		
<body ng-app="app" ng-controller="MainController as main">
<div id = "header"></div>
<div class="container">

    
<div class="input-group pull-right"  style="margin-left:900px;">
    <input type="text" class="form-control" ng-model="main.searchInput" placeholder="Search a survey" style="width:450px;">
        <span class="input-group-addon">
		  <span class="glyphicon glyphicon-search"></span>
        </span>
</div>
    
<h3>List of surveys</h3>
    <ul class="list-group" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1)">
        <li  class="list-group-item" ng-repeat="survey in main.surveys | filter:main.searchInput | orderBy:main.order.key:main.order.reverse">
			<span class="glyphicon glyphicon-star" ng-if="surveys.favorite"></span> 
				Name: {{survey.title}}
                <h4>Description: {{survey.description}}</h4>

					<span class="badge" style="margin-top:-15px;">{{"(Valid until) "+survey.month+" - "}}{{survey.year}}</span>
					</li>
    </ul>
	<select style="width:450px;" class="form-control pull-right" ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>
    
<div class="clearfix"></div>

<div style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1) ; margin-bottom:50px;">

    <center>
    <h3>Add a new survey</h3>
    <form name="main.addForm"  class="form" ng-submit="main.addShow()" style=>
	
        <div class="form-group">
            <label>name *</label>
            <input style="width:450px;" type="text" class="form-control" ng-model="main.new.title" required />
        </div>
		
		<div class="form-group">
            <label>Description *</label>
            <textarea style="width:450px;" type="text" class="form-control" ng-model="main.new.description" required ></textarea>
        </div>
        
		<table>
            <tr>
		      <div class="form-group">
                  <label>Time frame</label>
                        <td>
				            <input type="number" min="1" max="12" class="form-control" ng-model="main.new.month" style="width:150px;" placeholder="Select a month" required />
                        </td>
                </div>
                    <td width="10%"></td>
		          <div class="form-group">
                    <td> 
			             <input type="number" min="1900" max="2030" class="form-control" ng-model="main.new.year" style="width:150px;" placeholder="Select a year" required />
                    </div>
                </tr>
        </table>
        
        <div class="row">
			<table>
				<tr>
					<td>
						<div class="col-xs-6">
							<label>Favorite: <input type="checkbox" ng-model="main.new.favorite" /></label>
						</div>
					</td>
					<td width="47%"></td>
					<td>
						<div class="col-xs-6">
							<button class="btn btn-success "><span class="glyphicon glyphicon-plus-sign"></span>Add survey</button>
						</div>
					</td>
				</tr>
			</table>
        </div>

    </form>
	</center>

	</div>
</div>
    
<div id = "footer"></div>    
</body>
</html>

