<!DOCTYPE html>
	<html>
		<head lang="en">
			<meta charset="UTF-8">
				<title>My survey</title>
				<link rel="stylesheet" href="./css/bootstrap.min.css">
				<script src="./js/angular.min.js"></script>
				<script src="./js/app.js"></script>
				<script src="main.ctrl.js"></script>
				<script src="./js/jquery-1.11.3.js"></script>
				<script src="./js/include.js"></script>
				<link href="./css/style.css" rel="stylesheet">
		</head>
		
<body ng-app="app" ng-controller="MainController as main">
<div id = "header" ></div>
<div class="container">

    
<div class="input-group">
    <span class="input-group-addon">
		<span class="glyphicon glyphicon-search"></span>
    </span>
    <input type="text" class="form-control" ng-model="main.searchInput" placeholder="Search a survey" style="width:450px;">
</div>
    
<h3>List of surveys</h3>
    <ul class="list-group" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1)">
        <li  class="list-group-item" ng-repeat="show in main.shows | filter:main.searchInput | orderBy:main.order.key:main.order.reverse">
			<span class="glyphicon glyphicon-star" ng-if="show.favorite"></span> 
				{{show.title}}<h4>{{show.description}}</h4>
					<span class="badge" style="margin-top:-65px;">{{"(Valid until) "+show.month+" - "}}{{show.year}}</span>
					</li>
    </ul>
	<select style="width:450px;" class="form-control pull-right" ng-model="main.order" ng-options="order as order.title for order in main.orders"></select>
    
<div class="clearfix"></div>

<div style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1) ; margin-bottom:50px;">
    <center>

    <p class="bg-primary"  style="box-shadow: 0px 0px 12px rgba(0,0,0,0.1) "><h1>Your survey was successfully created</h1>     </p>
    <br/>
    <a href="add_instruction.html"><button class="btn btn-success "><span class="glyphicon glyphicon-plus-sign">                </span>Proceed</button></a>  
    </center>
</div>
</div>
    
<div id = "footer"></div>    
</body>
</html>

